<div class="forabg">
	<div class="inner">
		<ul class="topiclist">
			<li class="header">
				<dl class="icon">
					<dt class="serverstatus">{L_TOKEN07_SERVERSBOARD_STATUS}</dt>
					<dd class="servername">{L_TOKEN07_SERVERSBOARD_NAME}</dd>
					<dd class="serverip">{L_IP}</dd>
					<dd class="playercount">{L_TOKEN07_SERVERSBOARD_PLAYERS}</dd>
					<dd class="mapname">{L_TOKEN07_SERVERSBOARD_MAP}</dd>
					<dd class="serveroptions">{L_OPTIONS}</dd>
				</dl>
			</li>
		</ul>
		<ul class="topiclist forums">
			<!-- BEGIN serverlist -->
			<li class="row">
				<dl class="icon">
					<dt class="serverstatus">
						<div style="margin-top: 10px; padding-left: 10px"><!-- IF serverlist.STATUS -->{L_ONLINE}<!-- ELSE -->{L_OFFLINE}<!-- ENDIF --></div>
						<div class="responsive-show" style="display: none;">
							{serverlist.HOSTNAME}
							<br /> {serverlist.PLAYERS}
							<br /> {serverlist.MAP}
							<br /> <a href="steam://connect/{serverlist.IP}"><img src="{ROOT_PATH}ext/token07/serversboard/styles/prosilver/theme/images/steam_16.png" /></a>
							<a href="//www.gametracker.com/server_info/{serverlist.IP}"><img src="{ROOT_PATH}ext/token07/serversboard/styles/prosilver/theme/images/gametracker_16.png" /></a>
						</div>
					</dt>
					<dd class="servername"><div class="serverdata"><a href="{serverlist.LINK}" class="forumtitle">{serverlist.HOSTNAME}</a></div></dd>
					<dd class="serverip"><div class="serverdata">{serverlist.IP}</div></dd>
					<dd class="playercount"><div class="serverdata">{serverlist.PLAYERS}</div></dd>
					<dd class="mapname"><div class="serverdata">{serverlist.MAP}</div></dd>
					<dd class="serveroptions">
						<div class="serverdata">
							{serverlist.OPTIONS}
							<a href="steam://connect/{serverlist.IP}"><img src="{ROOT_PATH}ext/token07/serversboard/styles/prosilver/theme/images/steam_16.png" /></a>
							<a href="//www.gametracker.com/server_info/{serverlist.IP}"><img src="{ROOT_PATH}ext/token07/serversboard/styles/prosilver/theme/images/gametracker_16.png" /></a>
						</div>
					</dd>
				</dl>
			</li>
			<!-- END serverlist -->
		</ul>
	</div>
</div>