<div class="forabg">
	<div class="inner">
		<ul class="topiclist">
			<li class="header">
				<dl class="serversboard">
					<dt class="servername">
						<span class="responsive-hide">{L_TOKEN07_SERVERSBOARD_NAME}</span>
						<span class="responsive-show" style="display: none;"><strong>{L_TOKEN07_SERVERSBOARD_SERVERSBOARD}</strong></span>
					</dt>
					<dd class="serverip">{L_IP}</dd>
					<dd class="playercount">{L_TOKEN07_SERVERSBOARD_PLAYERS}</dd>
					<dd class="mapname">{L_TOKEN07_SERVERSBOARD_MAP}</dd>
					<dd class="serveroptions">{L_OPTIONS}</dd>
				</dl>
			</li>
		</ul>
		<ul class="topiclist forums">
			<!-- BEGIN serverlist -->
			<li class="row">
				<dl class="serversboard serversboarddata">
					<dt class="servername">
						<div class="responsive-hide" style="margin-right: 550px">
							<a href="{serverlist.LINK}" class="forumtitle"><!-- IF serverlist.HOSTNAME-->{serverlist.HOSTNAME}<!-- ELSE -->&nbsp;<!-- ENDIF --></a>
						</div>
						<div class="responsive-show" style="display: none;">
							<a href="{serverlist.LINK}" class="forumtitle">{serverlist.HOSTNAME}</a>
							<br /> {serverlist.PLAYERS}
							<br /> {serverlist.MAP}
							<br />
							<!-- IF serverlist.ICON -->
							<a href="{serverlist.JOINLINK}"><img src="{ROOT_PATH}ext/token07/serversboard/styles/prosilver/theme/images/{serverlist.ICON}_16.png" class="serveropt"/></a>
							<!-- ELSEIF serverlist.JOINLINK -->
							<a href="{serverlist.JOINLINK}">{L_TOKEN07_SERVERSBOARD_CONNECT}</a>
							<!-- ENDIF -->
							<!-- IF serverlist.GAMETRACKER -->
							<a href="//www.gametracker.com/server_info/{serverlist.IP}"><img src="{ROOT_PATH}ext/token07/serversboard/styles/prosilver/theme/images/gametracker_16.png" class="serveropt" /></a>
							<!-- ENDIF -->
						</div>
					</dt>
					<dd class="serverip">{serverlist.IP}</dd>
					<dd class="playercount"><a href="{serverlist.LINK}" data-ajax="true">{serverlist.PLAYERS}</a></dd>
					<!-- IF serverlist.MAP -->
					<dd class="mapname">{serverlist.MAP}</dd>
					<!-- ELSE -->
					<dd class="mapname">&nbsp;</dd>
					<!-- ENDIF -->
					<dd class="serveroptions">
						<div class="serverdata">
							<!-- IF serverlist.ICON -->
							<a href="{serverlist.JOINLINK}"><img src="{ROOT_PATH}ext/token07/serversboard/styles/prosilver/theme/images/{serverlist.ICON}_16.png" class="serveropt"/></a>
							<!-- ELSEIF serverlist.JOINLINK -->
							<a href="{serverlist.JOINLINK}">{L_TOKEN07_SERVERSBOARD_CONNECT}</a>
							<!-- ENDIF -->
							<!-- IF serverlist.GAMETRACKER -->
							<a href="//www.gametracker.com/server_info/{serverlist.IP}"><img src="{ROOT_PATH}ext/token07/serversboard/styles/prosilver/theme/images/gametracker_16.png" class="serveropt" /></a>
							<!-- ENDIF -->
						</div>
					</dd>
				</dl>
			</li>
			<!-- END serverlist -->
		</ul>
	</div>
</div>