<!-- INCLUDE overall_header.html -->
<h2>{L_TOKEN07_SERVERSBOARD_VIEWDETAILS}</h2>
<!-- INCLUDE serversboard_table.html -->
<br />
<div class="forumbg forumbg-table" style="width: 50%">
<div class="inner">
<table class="table1">
	<thead>
		<tr style="text-align: left">
			<th>{L_USERNAME}</th>
			<!-- IF SHOW_TIMES --><th>{L_TOKEN07_SERVERSBOARD_TIMELONLINE}</th><!-- ENDIF -->
		</tr>
	</thead>
	<tbody>
	<!-- IF SERVER_EMPTY and not SERVER_OFFLINE -->
		<tr class="bg1">
			<td colspan="2" style="text-align: center">-</td>
		</tr>
	<!-- ENDIF -->
	<!-- BEGIN players -->
		<tr class="bg<!-- IF players.S_ROW_COUNT is even -->1<!-- ELSE -->2<!-- ENDIF -->">
			<td>{players.NAME}</td>
			<!-- IF SHOW_TIMES --><td>{players.TIME}</td><!-- ENDIF -->
		</tr>
	<!-- END players -->
	<!-- IF SERVER_OFFLINE -->
		<tr class="bg1">
			<td colspan="2" style="text-align: center">{L_OFFLINE}</td>
		</tr>
	<!-- ENDIF -->
	</tbody>
</table>
</div>
</div>
<br />
{SERVERSBOARD_SERVER_LAST_UPDATE}
<!-- INCLUDE overall_footer.html -->